
    <header class="row" style="position: relative; height: 50vh; width: 100%;">
        <div
              class="col s12 m11 l9 xl8 "
              style="position: absolute; top: 0px; height: 120%; left: 0px; right: 40px; width: 100%;"
            >
            <img alt="" src="/img/ba16_2.png" 
                    style="position: absolute; right: -12px; top: 20%; width: 100%; height:80%"
                >
            <img alt="" src="/img/ba9_2.png"
                    style="position: absolute;  right: -12px; top: 0px; width: 100%; height:90%">
        </div>
        <div class="col s4 hide-on-small-only" 
            
             style="position: absolute; top: 70%; left: 80%; height: 100%; transform: translate(-50%, -50%); width: 30%;" 
        >
            <h1 class="titulo" style="font-size:40px">
              Administradores</b>
            </h1>
            <blockquote>
              <h4 class="subtitulo black-text" style="font-size:20px">
                <b>
                  Aquí puedes visualizar la <br /> información de los Administradores
                </b>
              </h4>
            </blockquote>
        </div>
 <!--style="height: 100%; position: absolute; top: 0%; right: 0%;"
 style="position: absolute; top: 50%; left: 30%; height: 100%; transform: translate(-50%, -50%); width: 50%;"
 -->
        <div class=" col s12 m9 l9 xl8 white-text" style="height: 100%; position: absolute; top: 0%; right: 50%;">
          <img alt="" src="/img/parteba13_2.png" 
          class="responsive-img" style="position: absolute; right: 0px; top: 0px; height: 120%; width: 50%;">
        </div>  
    </header>
      <br />
      <br />
      <br />
      <div class="row justify-content-end">
        <div class="col-3 align-self-end">
          <a class="waves-effect waves-light text-white btn p-2 text-center  " style="background: rgb(29, 240, 134);border-radius: 20px;"
                    href="javascript:window.history.back(); " style=""
                > 
            <i class="material-icons  text-white large rounded-circle btn p-2 text-center">arrow_back
            </i>       Regresar              
          </a>
        </div>
      </div>
  <div class="container p-5">
        <h3 style="font-family: 'Franklin Gothic Medium'">Administradores registrados</h3>
  <div class="row" style=" border: 0.5px solid rgb(80, 17, 170); margin: 25px 0px; background:rgb(185, 148, 243)">
 {{#each admin }}

  <div class="col-md-3">
    <br>
    <div class="card">
      <div class="card-body ">
         <h3 class="d-flex p-2 flex-row-reverse">
          <!--a href="/inquilinos/edit/{{_id}}"><i class="fas fa-edit"></i></a--> 
         </h3>
        Administrador:
        <h4 class="card-title ">
         {{ name }}
        </h4>
        <p>Correo: {{email}} </p>
        <p>No. Teléfono: {{ telefono }} </p>
        <p>Domicilio: {{ domicilio }} </p>
        <p>Fecha de creación: {{ date }}</p>
        
      </div>
    </div>
    <br>
  </div>
{{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{admin.name}}</h1>
      <p clsss="lead">No hay administradores.</p>
    </div>
  </div>
  {{/each}}
  
</div>
</div>
